body{
	background: #fc5f1a;
	color: #010833;
	font-family:'Nunito Sans',sans-serif;
	font-size:18px;
	margin-bottom: 5%
}
h1,
h2,
h3,
.author{
	text-align: center;
}

h1,h2,h3,h4{
	font-family:'Anton', sans-serif;
	text-transform: uppercase;
}

h1{
	font-family:'Anton',sans-serif;
	text-transform: uppercase;
	font-size:60px;
	padding-top: 5%
}
.hyphenated{
	font-size:120px;
}
.author{
	font-weight: 500px;
	font-style:italic;
	padding-bottom:5%;
	padding-top:3%;
}
a{
	text-decoration:underline;
	text-decoration-color: #ffa500;
	color: black;

}
.graphic {
	display: block;
	margin:0 auto 0 auto;
}
.white{
	background:white;
	margin-bottom: 2%;
}
.hyphens{
	padding:5% 0 5% 0;
	margin-bottom: 2% 0 2% 0;
}
.title{
	background:#010833;
}
h3 {
	color:#ffa500;
	font-size:70px;
	padding:2% 0 2% 0;
	margin: 2% 0 2% 0;
}
.desc{
	font-weight:500;
	letter-spacing:1.5px;
	background: white;
	color:#ffa500;
}
h4{
	margin:0;
	padding:0;
}
.info{
	font-weight:200;
	font-size:16px;
	color:#010833;
}
hr{
	border-top:2px solid white;
	width:25%; 
	margin:0 auto;
}
.credits{
	font-size:14px;
	font-weight: 600;
}
.hed{
	font-weight: 800;
}

@media only screen and (max-width: 576px) {
body {
	font-size: 15px;
	line-height: 1.75;
}
@media only screen and (max-width:576px) {
.rise{
font-size: 37px;
}
@media only screen and (max-width:576px) {
	.hyphenated{
		font-size: 85px}
	}
@media only screen and (max-width: 768px) {
	.description,.list{
padding-left: 2%;
padding-right:2%;
	}
}
#rs {
margin: 0 auto;
}

#ge {
margin: 0 auto;
}

#ds {
margin: 0 auto;
}

#aj {
margin: 0 auto;
}

#gp {
margin: 0 auto;
}